Cython
imgaug>=0.3.0
Keras==2.7.0 
tensorflow==2.6.0
opencv-python-headless
matplotlib
pandas
Pillow
numpy
requests
scikit-image
scikit-learn
imageio
scipy
# pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
