absl-py==1.0.0

altair==4.2.0
anaconda-client==1.7.2
anaconda-navigator==1.10.0

appdirs==1.4.4
argh==0.26.2

astor==0.8.1

asttokens==2.0.5
astunparse==1.6.3

atomicwrites==1.4.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1

bkcharts==0.2
black==19.10b0

blinker==1.4

boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==5.0.0
certifi==2020.6.20

clyent==1.2.2
colorama 
comtypes==1.1.9
conda==4.12.0
conda-build==3.21.4
conda-content-trust
conda-package-handling
conda-repo-cli
conda-token
contextlib2==0.6.0.post1
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask 
debugpy==1.5.1
decorator 
defusedxml
diff-match-patch 
distributed 
docutils 
entrypoints==0.3
et-xmlfile==1.0.1
executing==0.8.3
fastcache==1.1.0
filelock
flake8 
Flask 
fsspec 
future==0.18.2
gast==0.5.3
gevent
gitdb==4.0.9
GitPython==3.1.27
glob2 
gmpy2 
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet 
grpcio==1.44.0
h5py==2.10.0
HeapDict==1.0.1
html5lib
idna 
imageai==2.1.6
imagecodecs
imageio 
imagesize metadata==4.11.2
iniconfig
intervaltree 
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils 
ipywidgets
isort 
itsdangerous 1.4.1
jedi 
Jinja2 
joblib 
json5==0.9.5
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-packaging 
jupyter-server
jupyterlab
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets
keras==2.8.0
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keyring
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang==13.0.0
llvmlite==0.36.0
locket==0.2.1
lxml 
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.3.2
matplotlib-inline==0.1.3
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0
mkl-random
mkl-service==2.3.0
mock 
more-itertools 
mpmath==1.2.1
msgpack
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert 
nbformat
nest-asyncio 
networkx 
nltk 
nose 
notebook==6.4.8
numba 
numexpr 
numpy==1.22.2
numpydoc 
oauthlib==3.2.0
olefile==0.46
opencv-python==4.5.5.64
openpyxl 
opt-einsum==3.3.0
packaging p
pandas 
pandocfilters 
paramiko 
parso==0.7.0
par
path 
pathlib==1.0.1
pathlib2 
pathspec==0.7.0
pathtools 
patsy==0.5.1
pep8==1.7.1
pexpect
pickleshare pic
Pillow==7.0.0
pkginfo==1.7.0
pluggy 
ply==3.11
prometheus-client prometheu
prompt-toolkit prompt
protobuf==3.19.4
psutil
ptyprocess 
pure-eval==0.2
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle 
pycosat==0.6.3
pycparser p
pycurl==7.43.0.6
pydeck==0.7.1
pydocstyle py
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pyls-black py
pyls-spyder pyl
Pympler==1.0.1
PyNaCl 
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing 
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyreadline==2.1
pyrsistent 
PySocks 
pytest==6.2.3
python-dateutil on-jsonrpc-server python-jsonrp
python-language-server python-languag
pytz-deprecation-shim==0.1.0.post0
PyWavelets 
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome q
qtconsole q
QtPy==1.9.0
regex 
requests 
requests-oauthlib==1.3.1
rsa==4.8
Rtree 
ruamel-yaml-conda 
scikit-image==0.18.1
scikit-learn 
scipy 
seaborn
selenium 
semver==2.13.0
Send2Trash==1.8.0
simplegeneric==0.8.1
singledispatch single
sip==4.19.13
six 
smmap==5.0.0
sniffio 
snowballstemmer 
sortedcollections sortedcol
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels
SQLAlchemy
stack-data==0.2.0
statsmodels==0.12.2
streamlit==1.7.0
sympy
tables==3.6.1
tblib
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.9.4
testpath 
textdistance 
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl 
three-merge 
tifffile 
toml 
toolz 
tornado 
tqdm 
traitlets==5.1.1
typed-ast 
typing-extensions 
tzdata==2022.1
tzlocal==4.1
ujson 
unicodecsv==0.14.1
urllib3 
validators==0.18.2
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug 
widgetsnbextension==3.5.1
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd 
XlsxWriter 
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
yapf 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
